<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [260, 340]
  Dashing.numColumns = 7
});
</script>

<% content_for :title do %>The Girls<% end %>
<% colors = ['#4b5320','#532820','#204b53','#282053','#534220', '#53204b'] %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="angie-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Angie"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="barbara-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Barbara"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="chelsea-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Chelsea"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cindy-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Cindy"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="diane-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Diane"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="elizabeth-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Elizabeth"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="fran-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Fran"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="grace-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Grace"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="helen-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Helen"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="isabel-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Isabel"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="jackie-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Jackie"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="karen-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Karen"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="linda-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Linda"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="mary-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Mary"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nancy-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Nancy"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="annie-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Annie"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="eva-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Eva"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="kelly-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Kelly"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="lynne-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Lynne"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="nicole-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Nicole"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="amanda-m" data-view="List" style="background-color:<%= colors.sample %>" data-unordered="true" data-title="Amanda"></div>
    </li>
  </ul>
</div>